</div>
<div class="jumbotron">
  <h1>Exotic Canine Resort</h1>
  <p>Club Med for Furry Animals</p>
  <p><a class="btn btn-primary btn-lg" href="" role="button">Learn more</a></p>
</div>

<!-- <p>Find me in app/views/pages/index.html.erb</p> -->
