</div>
<div class="jumbotron">
  <h1>Perro Del Mar</h1>
  <p>A high end resort for your canine</p>
  <p><a class="btn btn-primary btn-lg" href="" role="button">Learn more</a></p>
</div>

<!-- <p>Find me in app/views/pages/index.html.erb</p> -->
