/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

 body {
 	padding-top: 60px;
 }

.jumbotron {
 background-image: image-url('dogcar.jpg');
 background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:#70CAE1;
/*  size:80%;
*/  padding-top:30%;
	padding-bottom:30%;
	padding-right:5%;
	padding-left:5%;
height: 100%;
}



#locationjumbotron {
	background-image: image-url('beach.jpg');
	color:#FFFFFF;
	padding:5%;
}

#locationjumbotron a{
	color:#FFFFFF;

	}

	#dog_grid {
		margin:20px
	}